h1{
    font-size: 20;
    color: black a;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.centro{
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}